
<div class="container">
  <div class="row">
    <div class="col l4 offset-l4 s12">
      <h3 class="center-align">추천 단어는..</h3>
      <div class="card grey lighten-3">
          <div class="card-content black-text">
            <h1 class="center-align"><%= @recommendedName.name %></h1>
          </div>
      </div>
      <p class="right-align">다시 추천받거나, 직접 추가해보세요</p>
      <div class="right">

        <a class="btn-floating btn-large waves-effect waves-light teal lighten-1" href="/"><i class="material-icons">loop</i></a>
        <a class="btn-floating btn-large waves-effect waves-light teal lighten-1" href="/write">추가</a>
      </div>
    </div>


  </div>

</div>
