<div class="container">
  <div class="row">
    <div class="col s8 offset-s2 l4 offset-l4">
      <% @names.each do |name| %>

      <h1><%= name.name %></h1>

      <% end %>

      <a class="waves-effect waves-light btn-large col s6" href="/">홈으로</a>
    </div>
  </div>
</div>
